.show-container{
    animation: showCont .6s 1s cubic-bezier(.694,.048,.335,1) forwards;
}




@keyframes showCont{
    0%{
        opacity: 0;
        height: 0;
        display: none;
    }
    2%{
        display: flex;
        opacity: 0;
    }
    100%{
        opacity: 1;
        height:100%;
    }
}