#Text-Cont.show-number .mask-number{
    display: block;
    position: absolute;
    width: 265px;
    height:220px;
    font-size:11.5625em;
    font-family: League Spartan,Helvetica,Arial,sans-serif;
    color:#99999d;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    opacity: 0;
    transition: opacity .3s,-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
    transition: opacity .3s,transform .45s cubic-bezier(.694,.048,.335,1);
    transition: opacity .3s,transform .45s cubic-bezier(.694,.048,.335,1),-webkit-transform .45s cubic-bezier(.694,.048,.335,1);
    z-index: 90;
    overflow: hidden;

}

#Text-Cont.show-number .mask-back, #Text-Cont.show-number .mask-front{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

#Text-Cont.show-number .mask-overlay{
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    color: transparent;
}

#Text-Cont.show-number .mask-overlay, #Text-Cont.show-number .mask-overlay:before {
    transition: -webkit-transform .6s cubic-bezier(.694,.048,.335,1) 0s;
    transition: transform .6s cubic-bezier(.694,.048,.335,1) 0s;
    transition: transform .6s cubic-bezier(.694,.048,.335,1) 0s,-webkit-transform .6s cubic-bezier(.694,.048,.335,1) 0s
}

#Text-Cont.show-number .mask-overlay::before {
    content: "01";
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: 5px 5px 11px rgba(74,74,74,.5);
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

#Text-Cont.show-number:hover .mask-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

#Text-Cont.show-number:hover .mask-overlay, #Text-Cont.show-number:hover .mask-overlay::before {
    transition-delay: .4s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

#Text-Cont.show-number:hover .case-study-mask:after {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

#Text-Cont.show-number:hover .case-study-mask-number {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}