

.photo-slider-parent{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 70vh;
    
    
}

.photo-slider-parent:before, .photo-slider-parent:after{
    content: '';
    position: absolute;
/*     top: 0;
    right: 0; */
    
    height: 100%;
    z-index: 114;
    opacity: 1;
}

.photo-slider-parent:before{
    background-color: #ff86d1;
}

.photo-slider-parent:after{
    background-color: rgb(12, 233, 130);
    animation-delay: 0.5s;
}

.photo-slider-parent.show:before{
    animation: revealR 1.8s ease;
}
.photo-slider-parent.show:after{
    animation: revealR 1s 0.6s ease;
}



.photo-slider-box{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 10px 10px 1px 0px rgba(133,133,133,1);
    -moz-box-shadow: 10px 10px 1px 0px rgba(133,133,133,1);
    box-shadow: 10px 10px 1px 0px rgba(133,133,133,1);  
    opacity: 0;
    
}

.photo-slider-parent.show .photo-slider-box{
    transition: opacity 0.2s ease 1.2s;
    opacity: 1;

}
  
.photo-slider{
    
   position: relative;
    height: 80vh;
   
    width: 334%;
    transition: all 0.5s ease;
    margin:auto;
}

.photo-slider.slide-on-1{
    right:0%;
}
.photo-slider.slide-on-2{
    right:100%;
}
.photo-slider.slide-on-3{
    right:200%;
}

.photo-one, .photo-two, .photo-three{
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.photo-slider{
    height:100%;
}


.photo-one{
    display: block;
    content: "";
    
    float:left;
    
   /*  background-repeat: no-repeat; */
    width: 30%;
    height: 100%;
    

}

.photo-two{
    content: "";
    display: block;

    float:left;
    
 /*    background-repeat: no-repeat; */
    width: 30%;
    height: 100%;
}

.photo-three{
    content: "";
    display: block;
    
    float:left;
   /*  background-repeat: no-repeat; */
    width: 30%;
    height: 100%;
    z-index: 15;
}

.photo-button-flex{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width:100%;
    height: 100%;
    top:0;
    z-index: 111;
}

/* .photo-button-left, .photo-button-right{
    background: linear-gradient(to left,rgba(0,0,0,.65) 0,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
} */

.photo-button-left, .photo-button-right{
    cursor: pointer;
}
.photo-button-right:hover{
    opacity: 1;
}

.photo-button-left:hover{
    opacity: 1;
    
}
.photo-button-left{

    height: 100%;
    background:linear-gradient(to right,rgba(0,0,0,.65) 0,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
    display: flex;
    align-items: center;
    width:30%;
    height: 100%;
    z-index: inherit;
    opacity: 0.3;
    transition: all 0.6s ease;

}

.photo-button-right{

    height: 100%;
    background: linear-gradient(to left,rgba(0,0,0,.65) 0,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:30%;
    z-index: inherit;
    opacity: 0.3;
    transition: all 0.6s ease;

}

.Pixel-Smash .photo-one{
    background-image: url("../../../assets/images/projects/pixelsmash/one.png");
}

.Pixel-Smash .photo-two{
    background-image: url("../../../assets/images/projects/pixelsmash/two.jpg");
}

.Pixel-Smash .photo-three {
    background-image: url("../../../assets/images/projects/pixelsmash/three.jpg");
}


@media screen and (max-width: 550px){
/*     .photo-one, .photo-two, .photo-three{
        background-size: 100% auto;
        
    } */
    .photo-slider-parent{
        position: relative;
        bottom: 80px;
        height: 100%;
        padding-top:120px;
        
    }
    .photo-slider-box{
        height: 100%;
        
    }
    .photo-slider{
        
    }
 
}
