.about-background{
    background-color: #000;
}

.box-size{
    height: 100vh;
}

.nav-height-fix{
    height: 55px;
}

.nav-flex{
    position: fixed;
}

.overflow-fix{
    overflow: hidden;
}

.show-trans{
    position: absolute;
    color: white;
    transition: all 0.6s ease;
    bottom:20px;
}

.left-trans-in{
    opacity: 1;
    transform: translateX(-30px); 
}

.left-trans-out{
    opacity: 0;
    transform: translateX(30px);
}

/* #about{
    z-index: 20;
} */