.about-background{
    background-color: #000;
}

.box-size{
    height: 100vh;
}

.nav-height-fix{
    height: 55px;
}

.nav-flex{
    position: fixed;
}

.overflow-fix{
    overflow: hidden;
}

/* #about{
    z-index: 20;
} */