
.contact-title-parent h1{
    font-size: 45pt;
    text-align: center;
    font-family: LeagueSpartan, sans-serif;
    display: absolute;
}

.contact-title-div h1{
    font-size: 45pt;
    text-align: center;
    font-family: LeagueSpartan, sans-serif;
}
.contact-title-div{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 250px;
    height: 80px;
    
    margin-bottom: 3em;
    color: transparent;
    /* transition: opacity 1s,-webkit-transform .1s cubic-bezier(.694,.048,.335,1);
    transition: opacity 1s,transform .1s cubic-bezier(.694,.048,.335,1);
    transition: opacity 1s,transform .1s cubic-bezier(.694,.048,.335,1),-webkit-transform 1s cubic-bezier(.694,.048,.335,1); */

}

.contact-title-div::before, .contact-title-div::after{
    content: '';
    position: absolute;
    height: 100%;
    z-index: 100;
}

.contact-title-div:before{
    background-color: rgb(235, 0, 110);;
}

.contact-title-div:after{
    background-color: rgb(0, 168, 235);;
    animation-delay: 0.5s;
}

.contact-title-div.run-anim-first{
    transition: color 0.5s ease 0.8s;
    color: #fff;
    
}
.contact-title-div.run-anim-first:before{
    animation: revealR 1.8s ease;
}
.contact-title-div.run-anim-first:after{
    animation: revealR 1s 0.6s ease;
}

.contact-title-div.page-is-changing:before{
    animation: reverseR 1.8s ease;
}
.contact-title-div.page-is-changing:after{
    animation: reverseR 1s 0.6s ease;
}

.contact-title-div.page-is-changing{
    color: transparent;
}
.contact-title-parent:hover  .contact-title-div{

  -webkit-transform: translateZ(0);
    transform: translateZ(0) 
}

.contact-title-parent:hover .contact-title-overlay, .contact-title-parent:hover .contact-title-overlay::before{
    -webkit-transform: translateZ(0);
    transform: translateZ(0); 
}

.contact-title-parent .contact-title, .contact-title-parent .contact-title-front{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.contact-title-parent .contact-title-overlay{
    overflow: hidden;
    position: relative;
  
    color: transparent;
    text-align: center;
}

.contact-title{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
  

}
.contact-title-front{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;

}

.contact-title, .contact-title-front{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.contact-title-overlay{
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    color: transparent;
    text-align: center;
  

}

.contact-title-parent .contact-title-overlay::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
   
    color: turquoise;
    
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0); 

}
.contact-subtitle{
    position: relative;
    color:#fff;
    overflow: hidden;
}



.contact-title-front .contact-title-overlay{
    font-family: LeagueSpartan, sans-serif;
    font-size: 45pt;
 
}


.contact-title-parent:hover .contact-title-div{
    
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.contact-title-parent:hover .contact-title-overlay, .contact-title-parent:hover .contact-title-overlay::before {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.contact-title-parent .contact-title-overlay, .contact-title-parent .contact-title-overlay::before {
    transition: -webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) ;
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) ;
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1) ,-webkit-transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}


