.coral{
    background-color: rgba(255, 110, 97, 0.904);
}

.violet{
    background-color: rgba(107, 91, 149, 0.918);
}

.chili{
    background-color: #9b1b30;
}

.eclipse{
    background-color: #343148;
}

.midnight{
    background-color: #161616;
}
.quetzal{
    background-color: #006e6d;
}

.mist{
    background-color: #B4B7BA;
}

.greenery{
    background-color: #92b558;
}

.spruce{
    background-color: #005960;
}

.meadow{
    background-color: #006e51;
}

.snorkel{
    background-color: #034f84;
}

.buttercup{
    background-color: #fae03c;
}

.night{
    background-color: #181720;
}

.coral-text{
    color: rgba(255, 110, 97, 0.904);
}

.violet-text{
    color: #6b5b95;
}

.violet-text-header{
    color: #927acc;
}

.chili-text{
    color: #9b1b30;
}

.eclipse-text{
    color: #343148;
}

.quetzal-text{
    color: #006e6d;
}

.mist-text{
    color: #B4B7BA;
}

.greenery-text{
    color: #92b558;
}

.spruce-text{
    color: #005960;
}

.meadow-text{
    color: #006e51;
}

.snorkel-text{
    color: #034f84;
}

.sun-text{
    color: #f37d2e;
}

.buttercup-text{
    color: #fae03c;
}

.magenta-text{
    color: #fa3cea;
}

.hot-text{
    color: #db3861;
}

.grey-text{
    color: #bdbdbd;
}

.bright-text{
    color: #f5f5f5;
}

.margin-fix{
    margin-left: 20px;
}

.text-project-header{
    font-family: LeagueSpartan, sans-serif;
    font-size: 30pt;
    color: white;

}



.tiny-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-fix{
    align-items: center;

}

.proj-box{
    margin-left:2rem;
    margin-right:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tester-color{
    background-color: #343148;
}

.line-move{
   line-height: 0.6px;
}


.pet-perfect{
    background-image: url("../../../assets/images/peanutSmile.jpg");
    background-size: cover;
}

.random-photo{
    background-image: url("https://picsum.photos/200/300/?random");
    background-size: cover;
}
.random-photo-2{
    background-image: url("https://picsum.photos/200/300?image=0");
    background-size: 100% 100%;
}
.random-photo-3{
    background-image: url("https://picsum.photos/200/300?image=22");
    background-size: 100% 100%;
}
.random-photo-4{
    background-image: url("https://picsum.photos/200/300?image=44");
    background-size: 100% 100%;
}

.overlay-start{
    opacity: 0;
    transition: transform .9s ease-in;
    transform: translateY(500px);
}
.overlay-end{
    transition: transform .9s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: translateY(0px);
}