.coral{
    background-color: #FF6F61;
}

.violet{
    background-color: #6b5b95;
}

.chili{
    background-color: #9b1b30;
}

.eclipse{
    background-color: #343148;
}

.quetzal{
    background-color: #006e6d;
}

.mist{
    background-color: #B4B7BA;
}

.greenery{
    background-color: #92b558;
}

.spruce{
    background-color: #005960;
}

.meadow{
    background-color: #006e51;
}

.snorkel{
    background-color: #034f84;
}

.buttercup{
    background-color: #fae03c;
}





.proj-box{
    margin-left:1rem;
    margin-right:1rem;
    flex-wrap: wrap;
}

/* .align-fix{
    align-self: auto;
} */


.pet-perfect{
    background-image: url("../../../assets/images/peanutSmile.jpg");
    background-size: cover;
}

.random-photo{
    background-image: url("https://picsum.photos/200/300/?random");
    background-size: cover;
}
.random-photo-2{
    background-image: url("https://picsum.photos/200/300?image=0");
    background-size: 100% 100%;
}
.random-photo-3{
    background-image: url("https://picsum.photos/200/300?image=22");
    background-size: 100% 100%;
}
.random-photo-4{
    background-image: url("https://picsum.photos/200/300?image=44");
    background-size: 100% 100%;
}

.overlay-start{
    opacity: 0;
    transition: transform .5s ease-in;
    transform: translateY(400px);
}
.overlay-end{
    transition: transform .5s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: translateY(0px);
}