.coral{
    background-color: rgba(255, 110, 97, 0.904);
}

.violet{
    background-color: rgba(107, 91, 149, 0.918);
}

.chili{
    background-color: #9b1b30;
}

.eclipse{
    background-color: #343148;
}

.midnight{
    background-color: #161616;
}
.quetzal{
    background-color: #006e6d;
}

.mist{
    background-color: #B4B7BA;
}

.greenery{
    background-color: #92b558;
}

.spruce{
    background-color: #005960;
}

.meadow{
    background-color: #006e51;
}

.snorkel{
    background-color: #034f84;
}

.buttercup{
    background-color: #fae03c;
}

.night{
    background-color: #181720;
}

.coral-text{
    color: rgba(255, 110, 97, 0.904);
}

.violet-text{
    color: #6b5b95;
}

.violet-text-header{
    color: #927acc;
}

.chili-text{
    color: #9b1b30;
}

.eclipse-text{
    color: #343148;
}

.quetzal-text{
    color: #006e6d;
}

.mist-text{
    color: #B4B7BA;
}

.greenery-text{
    color: #92b558;
}

.spruce-text{
    color: #005960;
}

.meadow-text{
    color: #006e51;
}

.snorkel-text{
    color: #034f84;
}

.sun-text{
    color: #f37d2e;
}

.buttercup-text{
    color: #fae03c;
}

.magenta-text{
    color: #fa3cea;
}

.hot-text{
    color: #db3861;
}

.grey-text{
    color: #bdbdbd;
}

.bright-text{
    color: #f5f5f5;
}

.margin-fix{
    margin-left: 20px;
}

.text-project-header{
    font-family: LeagueSpartan, sans-serif;
    font-size: 45pt;
    color: white;

}



.tiny-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-flex{
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.align-fix{
    align-items: center;

}

.proj-box{
    margin-left:2rem;
    margin-right:2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tester-color{
    background-color: #343148;
}

.line-move{
   line-height: 0.6px;
}


.pet-perfect{
    background-image: url("../../../assets/images/peanutSmile.jpg");
    background-size: cover;
}

.random-photo{
    background-image: url("https://picsum.photos/200/300/?random");
    background-size: cover;
}
.random-photo-2{
    background-image: url("https://picsum.photos/200/300?image=0");
    background-size: 100% 100%;
}
.random-photo-3{
    background-image: url("https://picsum.photos/200/300?image=22");
    background-size: 100% 100%;
}
.random-photo-4{
    background-image: url("https://picsum.photos/200/300?image=44");
    background-size: 100% 100%;
}

.overlay-start{
    opacity: 0;
    transition: transform .9s ease-in;
    transform: translateY(500px);
}
.overlay-end{
    transition: transform .9s ease-out, opacity 1s ease-out;
    opacity: 1;
    transform: translateY(0px);
}

.project-page-subtitle{
    position: relative;
    color:transparent;
    font-family: 'Raleway', serif;
    font-size: 12pt;
    font-weight: 200;
    overflow: hidden;
    margin-top: 20px;
    
}



.project-header h1{
    position: relative;
    font-family: LeagueSpartan, sans-serif;
    
    color: transparent;
}

.project-header h1:before,.project-header h1:after{
    content: "";
    position: absolute;
    height: 100%;
    z-index: 110;
}

.project-header h1:before{
    background-color: #f1b50f;
}

.project-header h1:after{
    background-color: rgb(15, 226, 156);
    animation-delay: 0.5s;
}
.project-header.show-header h1{
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 0.01s; 
    color: #f3f3f3;
}

.project-header h1.text-disappear{
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 1s; 
    color: transparent;
    
}
.project-header h1.rollout:before{
    animation: revealL 1.8s cubic-bezier(.694,.048,.335,1);
}
.project-header h1.rollout:after{
    animation: revealL 1s 0.6s cubic-bezier(.694,.048,.335,1);
}

.project-header.page-is-changing h1:before{
    animation: reverseR 1.8s cubic-bezier(.694,.048,.335,1);
}
.project-header.page-is-changing h1:after{
    animation: reverseR 1s 0.6s cubic-bezier(.694,.048,.335,1);
}




.project-page-text p:before,.project-page-text p:after{
    content: "";
    position: absolute;
    height: 100%;
    z-index: 110;
}

.project-page-text p:before{
    background-color: #08d155;
}

.project-page-text p:after{
    background-color: rgb(113, 15, 226);
    animation-delay: 0.5s;
}
.project-page-text.show-header p{
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 0.01s; 
    color: #f3f3f3;
}

.project-page-text.text-disappear p {
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 1.3s; 
    color: transparent;
}


.project-page-text.show-header .project-highlight-1 {
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) .1s;
    color: rgb(0, 168, 235);
}

.project-page-text.show-header .project-highlight-2 {
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) .1s;
    color: rgb(0, 235, 106);
}

.project-page-text.text-disappear .project-highlight-1 {
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 1s; 
    color: transparent;
}

.project-page-text.text-disappear .project-highlight-2 {
    transition: color 0.01s cubic-bezier(0.000, 0.82, 0.165, 1) 1s;  
    color: transparent
}




.project-page-subtitle.rollout p:before{
    animation: revealR 1.8s cubic-bezier(.694,.048,.335,1);
}
.project-page-subtitle.rollout p:after{
    animation: revealR 1s 0.6s cubic-bezier(.694,.048,.335,1);
}


.project-page-subtitle.page-is-changing p:before{
    animation: reverseL 1.8s cubic-bezier(.694,.048,.335,1);
}
.project-page-subtitle.page-is-changing p:after{
    animation: reverseL 1s 0.6s cubic-bezier(.694,.048,.335,1);
}

/* #PROJECTS{
    transform: translateY(50px);
} */


@media screen and (max-width: 1570px){
    .project-header h1{
        font-size: 60pt;
    }

}

@media screen and (max-width: 550px){
    .project-header h1{
        font-size: 40pt;
    }

    .project-page-text{
        display: flex;
        width: 70vw;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
    .project-page-text p{
        font-size:12pt;
    }
    .project-page-text p:after{
        top:0;
        height: 100%;
    }
}




