
/* canvas {
    display: flex;	
    overflow: hidden;
    pointer-events: none;
} */


.wave-adjust{
    position: absolute;
    transform: translateY(500px);
    overflow: hidden;
    
    
} 

.move-wave{
    transition: all 2s ease;
    transform: translateY(200px);
    
}

.page-is-changing{
    
}

@keyframes wavesOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}


@media screen and (max-width:1570px){
    canvas {
        display: flex;	
        overflow: hidden;
        pointer-events: none;
        z-index: 210;
        left: 0;
        height: 78vh;
        width: 100%;
        overflow: hidden;
    }

    .wave-adjust{
        position: absolute;
        transform: translateY(500px);
        overflow: hidden;
        top:0;
        
    }
    .move-wave{
        transition: all 3s ease;
        transform: translateY(200px);
    }
}
@media screen and (max-width: 550px){
    canvas{
        top:100vh;
        left:0;
        width: calc(100vw);
        height: calc(100vh - 370px);
        opacity: 0;
        
    }
    .wave-adjust{
        position: absolute;
        transform: translateY(248px);
        overflow: hidden;
        top:0;

        
    }
    .move-wave{
        transition: all 1s ease;
        transform: translateY(370px);
        opacity: 1;
    }
}