@font-face {
    font-family: GilroyBold;
    font-weight: bold;
    src: url("../../assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: GilroyLight;
    src: url("../../assets/fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
    font-family: LeagueSpartan;
    font-weight: bold;
    src: url("../../assets/fonts/LeagueSpartan-Bold.otf") format("opentype");
}


.parent-box{
    position:relative;
    overflow: hidden;
    max-width:540px;
}

.parent-box img{
    max-width:100%;
}

.overlay{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    overflow: hidden;
    width:100%;

    -moz-transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1), right 0.4s cubic-bezier(0.7, 0, 0.3, 1), 
    bottom 0.4s cubic-bezier(0.7, 0, 0.3, 1), left 0.4s cubic-bezier(0.7, 0, 0.3, 1), transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    -webkit-transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1), right 0.4s cubic-bezier(0.7, 0, 0.3, 1), 
    bottom 0.4s cubic-bezier(0.7, 0, 0.3, 1), left 0.4s cubic-bezier(0.7, 0, 0.3, 1), transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
    transition: top 0.4s cubic-bezier(0.7, 0, 0.3, 1), right 0.4s cubic-bezier(0.7, 0, 0.3, 1), 
    bottom 0.4s cubic-bezier(0.7, 0, 0.3, 1), left 0.4s cubic-bezier(0.7, 0, 0.3, 1), transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);

    /* transform: skewY(10deg); */ 
}



.overlay-content{
    content:"";
}


.o-full-size{
    background-color: #4facfe;
    height: 360px;
    width: 31vw;
}

.right{
    right:200%;
    left:-100%;
}
.parent-box:hover .right{
    right:0;
    left:0;
}

.block-top{
    top: 100%;
}

.parent-box:hover .block-top{
    top:0;
}

.pos-start{
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
  
    margin-left:40px;
}

.headline{
    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    top:200px;
}


.headline p{
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.headline h1{
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.hidden-text{
    opacity: 0;
    transform: translateY(80px);
}

.overlay-subtitle{
    font-weight: bold;
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.move-headline{
    transition: transform 0.8s cubic-bezier(0.7, 0, 0.3, 1);
    transform: translateY(-80px);
}

.show-text-o{
    opacity: 1;
    transform: translateY(0);
}

.pos-start h1{
    font-family: LeagueSpartan;
}


.text-box-cls{
    margin-left: 45px;
}

#text-box h1{
    font-family: GilroyBold;
}

#text-box{
    position: relative;
    top:50px;
}

/* #text-box.text-box-start p, #text-box.text-box-start h1 {
    transition: opacity 2s ease;
    opacity: 0;
}

#overlay-parent.show-block-text #text-box p:nth-child(n){
    opacity: 1;
}

#overlay-parent.show-block-text #text-box h1:nth-child(n){
    opacity: 1;
} */


/* #content:hover p{
    opacity: 1;
} */