@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://db.onlinewebfonts.com/c/a58481739201b270f06930a07185ba53?family=Ginger-Regular');


html{
  scroll-behavior: smooth;
}


.fade{
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

canvas{
  overflow: hidden;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
