@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://db.onlinewebfonts.com/c/a58481739201b270f06930a07185ba53?family=Ginger-Regular');


html{
  scroll-behavior: smooth;
}


.fade{
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

canvas{
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar { 
  display: none; 
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-image: linear-gradient(120deg, #bd3f5e 0%, #2d0b6b 100%);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(120deg, #fc008a 0%, #7b1988 100%);
  border-radius: 8px;
  outline: 1px solid rgb(128, 4, 133);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
