.default-text{
    position: relative;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    opacity: 0;
    left:0;

}

.slide-right{
/*     -webkit-transition: -webkit-translate .5s .5s ease-in forwards;
    -ms-transition: -ms-translate .5s .5s ease-in forwards;
    transition: translate .5s .5s ease-in forwards;   */
    animation: slide-r 3s  2s ease forwards;
}
.slide-left{
    /*     -webkit-transition: -webkit-translate .5s .5s ease-in forwards;
        -ms-transition: -ms-translate .5s .5s ease-in forwards;
        transition: translate .5s .5s ease-in forwards;   */
        animation: slide-l 3s  2s ease forwards;
}

.slide-right-quick{
    /*     -webkit-transition: -webkit-translate .5s .5s ease-in forwards;
        -ms-transition: -ms-translate .5s .5s ease-in forwards;
        transition: translate .5s .5s ease-in forwards;   */
        animation: slide-r 0.6s cubic-bezier(.694,.048,.335,1) forwards;
    }
.slide-left-quick{
    /*     -webkit-transition: -webkit-translate .5s .5s ease-in forwards;
        -ms-transition: -ms-translate .5s .5s ease-in forwards;
        transition: translate .5s .5s ease-in forwards;   */
        animation: slide-l 0.6s cubic-bezier(.694,.048,.335,1) forwards;
}



@keyframes slide-r{
    0%{
        opacity:0.1;
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-l{
    0%{
        opacity:0.1;
        transform: translateX(300px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}