.default-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.slide-right{
    -webkit-transition: -webkit-translate .5s .5s ease-in forwards;
    -ms-transition: -ms-translate .5s .5s ease-in forwards;
    transition: translate .5s .5s ease-in forwards;  
}