.nav-block-flex{
    position: fixed;
    display: flex;
    background-color: rgb(71, 71, 71);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    height: 0;
    width: 100vw;
    z-index: 180;
    transition: transform 0.9s ease-in, height 0.3s cubic-bezier(.694,.048,.335,1);
}

#nav-menu a{
    color:rgb(163, 163, 163);
    font-size: 3.92345em;
    
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease, color 0.4s ease;
    z-index:5;
    display: none;
    pointer-events: none;
    
}

#nav-menu.display-fix a{
    display: inline;
}

.nav-menu-show{
    /* transition: transform 0.9s ease-in, height 0.3s cubic-bezier(.694,.048,.335,1); */
    
    height: 100vh;
}

#nav-menu.nav-menu-show a{
    pointer-events: auto;
    opacity: 1;
    z-index: 100;
}


#nav-menu i:nth-child(n){
    content: "";
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    overflow: hidden;
    width:0;
    /* left: 0; */
    height: 5px;
    transition: width 0.3s cubic-bezier(.694,.048,.335,1);
}

/* edit with font size */
#nav-menu a:hover + i{
    width: 195px;
}

#nav-menu a:hover{
    color: aliceblue;
}

#nav-menu::after{

}









