.base-parallax{
    position: absolute;
    display: block;
    z-index: -5;
    top:0;
    left:0;
    overflow: hidden;
    


}

#img-container{
    overflow: hidden;
    opacity: 0;
    z-index: -2;
}

#img-container.ease-opacity{
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

/* .show-img{
    animation: show-images 0.6s ease-in forwards;
}
 */

 /* .parallax-img-1{
   
    top: 550px;
    left:95vw;
}
.parallax-img-2{
  
    top: 145px;
    left: 350px;
}

.parallax-img-3{
   
    top: 78px;
    left: 200px;
}

.parallax-img-4{
  
    top:400px;
    left:500px;
}

.parallax-img-5{
  
    top:600px;
    left:80vw;
}

.parallax-img-6{
   
    top:450px;
    left:10vw;
}

.parallax-img-7{
 
    top:110px;
    left:70vw;
}

.parallax-img-8{

    top:580px;
    left:90px;
}

.parallax-img-9{
  
    top:230px;
    left:85vw;
}

.parallax-img-10{
  
    top:350px;
    left:60vw;
} */



.parallax-figure-1{
    width: 80px;
    height: 80px;
    border-radius: 45px;
    top: 15%;
    left: 70%;
    
    background-image: linear-gradient(-136deg,#f83600,#9d00ee);
    box-shadow: 0 0 62px 31px rgba(157,0,238,.38);
    z-index: 80;
}
.parallax-figure-2{
    width: 50px;
    height: 50px;
    border-radius: 45px;
    top: 15%;
    left: 30%;

    background-image: linear-gradient(48deg,#1a47ea,#9713db 94%);
    box-shadow: 0 0 50px 20px rgba(26,71,234,.38);
}
.parallax-figure-3{
    width: 40px;
    height: 40px;
    border-radius: 45px;
    top: 40%;
    left: 50%;
    background-image: linear-gradient(-231deg,#0f8ee1,#00ee2e 92%);
    box-shadow: 0 0 42px 21px rgba(0,238,46,.18);
}
.parallax-figure-4{
    width: 30px;
    height: 30px;
    border-radius: 45px;
    top: 15%;
    left: 60%;
    background-image: linear-gradient(-231deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    box-shadow: 0 0 32px 20px rgba(248, 68, 188, 0.18);
}
.parallax-figure-5{
    width: 44px;
    height: 44px;
    border-radius: 48px;
    top: 50%;
    left: 16%;
    background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
    box-shadow: 0 0 31px 20px rgba(248, 68, 68, 0.18);
}

.parallax-figure-6{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    top: 60%;
    left: 71%;
    background-image: linear-gradient(to top, #ff0808 0%, #eb0c3c 100%);
    box-shadow: 0 0 60px 35px rgba(255, 0, 0, 0.18);
}


@keyframes show-images{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width:9999px){
    .parallax-img-1{
   
        top: 550px;
        left:95vw;
    }
    .parallax-img-2{
      
        top: 145px;
        left: 350px;
    }
    
    .parallax-img-3{
       
        top: 78px;
        left: 200px;
    }
    
    .parallax-img-4{
      
        top:400px;
        left:500px;
    }
    
    .parallax-img-5{
      
        top:600px;
        left:80vw;
    }
    
    .parallax-img-6{
       
        top:450px;
        left:10vw;
    }
    
    .parallax-img-7{
     
        top:110px;
        left:70vw;
    }
    
    .parallax-img-8{
    
        top:580px;
        left:90px;
    }
    
    .parallax-img-9{
      
        top:230px;
        left:85vw;
    }
    
    .parallax-img-10{
      
        top:350px;
        left:60vw;
    }
    
   
}

@media screen and (max-width: 550px){

    .parallax-img-1{
        display: none;
        top: 550px;
        left:20vw;
    }
    .parallax-img-2{
      
        top: 400px;
        left: 65vw;
    }
    
    .parallax-img-3{
       
        top: 40px;
        left: 10vw;
    }
    
    .parallax-img-4{
      
        top:400px;
        left:30vw;
    }
    
    .parallax-img-5{
        display: none;
        top:600px;
        left:70vw;
    }
    
    .parallax-img-6{
        display: none;
        top:450px;
        left:10vw;
    }
    
    .parallax-img-7{
     
        top:110px;
        left:20vw;
    }
    
    .parallax-img-8{
        display: none;
        top:580px;
        left:90px;
    }
    
    .parallax-img-9{
        display: none;
        top:230px;
        left:74vw;
    }
    
    .parallax-img-10{
        display: none;
        top:350px;
        left:60vw;
    }
    .parallax-figure-6{
        width: 120px;
        height: 120px;
        border-radius: 60px;
        top: 60%;
        left: 60%;
        background-image: linear-gradient(to top, #ff0808 0%, #eb0c3c 100%);
        box-shadow: 0 0 60px 35px rgba(255, 0, 0, 0.18);
    }
}


