.palm{
    position: absolute;
    left: 0;
    top: calc(100vh - 380px);
    animation: smooth-right 1s ease-in 0.5s forwards;
    transform: translateX(-200px);
}

.volcan{
    position: absolute;
    top:calc(100vh - 380px);
}

svg .layer2 .volcano-top{
    animation: volcanotest 1s ease infinite alternate;
}

@keyframes volcanotest{
    0%{
        fill: red;
    }
    100%{
        fill: blue;
    }
}

@keyframes smooth-right{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}

