#arrow-box{
    position: relative;
    height: 60px;
    width:100px;
    background-color:rgb(7, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15%;
    left: calc(45% - 20px);

}



#arrow-box img{
    position: relative;
    height:15px;
    width: 15px;
    left:16px;
    bottom: 2px;

 
}

#arrow-bar{
    overflow: none;
}

#arrow-head.starting-point img{
    transition: transform 0.6s ease;
}

#arrow-head.hover-arrow img{
    transition: transform 0.6s ease;
    transform: translateX(30px);
}

#arrow-bar{
    content: "";
    position: absolute;
    background-color: #ebebeb;
    height: 2px;
    width:33px;
    border-radius: 3px;
    transition: width 600ms cubic-bezier(1, 0, 0, 1);
}


/* #arrow-box.hover-box i{
    transition: width 600ms cubic-bezier(1, 0, 0, 1);
    width:63px;
} */

.hover-bar-out{
    animation: testWidth-out 0.4s cubic-bezier(0.6, 1, 0.6, 1) forwards;
}

.hover-bar-in{
    animation: testWidth-in 0.4s cubic-bezier(0.6, 1, 0.6, 1) forwards;
}
.fix-test{
    position: fixed;
}

/* Start and Reset animations */

@keyframes testWidth-out{

    0%{
        width:33px;
    }
    50%{
        width:40px;
        
    }
    100%{
        transform: translateX(30px);
        width:30px;
    }
}

@keyframes testWidth-in{

    0%{
        transform: translateX(30px);
        width:30px;
    }
    50%{
        
        width: 40px;
        
    }
    100%{
        transform: translateX(0);
        width:33px;
    }
}



/* #arrow-head{
    transform: rotate(90deg);
} */
/* #arrow-head i:nth-child(n){
    background-color: #ebebeb;
    position: absolute;
    content: "";
    height: 1.5px;
    width:8px;
    margin: 0;
    transition: bottom 0.5s ease;

}
#arrow-head i:nth-child(1){
   
    transform: rotate(-45deg);
   

}
#arrow-head i:nth-child(2){
    transform: rotate(225deg);
}

#arrow-head.starting-point i:nth-child(1){
    right:0.01px;
    bottom:30px;

}

#arrow-head.starting-point i:nth-child(2){
    bottom: 30px;
}



#arrow-head.hover-arrow i:nth-child(n){
    transition: all 0.5s ease;
    bottom: 40px;
    
} */