.begins{
    background-color: /* #e0e0e0 */ black;
    height:755px;
    width:100vw;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    z-index:99;
    animation: slideout 2s 2s ease forwards; 
    overflow: hidden;
}

.to-be-loaded{
    display: none;
}
.column{
    height: 200px;
    width: 25px;
    border-radius: 5em;
    margin:2px;
    float: left;
    position: relative;
    left:43%;
    top: 33%;
}

.column:nth-child(1){
    background: linear-gradient(45deg, #23d674, #f80000);
    animation: pulse 0.5s 0.1s ease-out alternate infinite,
               disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(2){
    background: linear-gradient(45deg, #d62323, #4200f8);
    animation: pulse 0.5s 0.2s ease-out alternate infinite,
                disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(3){
    background: linear-gradient(45deg, #d623be, #f8be00);
    animation: pulse 0.5s 0.3s ease-out alternate infinite,
                 disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(4){
    background: linear-gradient(45deg, #d62323, #00f815);
    animation: pulse 0.5s 0.4s ease-out alternate infinite,
                 disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(5){
    background: linear-gradient(45deg, #d3d623, #0063f8);
    animation: pulse 0.5s 0.5s ease-out alternate infinite,
                 disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(6){
    background: linear-gradient(45deg, #8523d6, #f800e3);
    animation: pulse 0.5s 0.6s ease-out alternate infinite,
                disappear 0.5s 2.1s ease forwards;
}
.column:nth-child(7){
    background: linear-gradient(45deg, #ff0000, #f8e800);
    animation: pulse 0.5s 0.7s ease-out alternate infinite,
                 disappear 0.5s 2.1s ease forwards;
}
@keyframes pulse {
    from{
        height: 200px;
    }
    to{
        height: 50px;
    }
}


@keyframes slideout {
    from{
        width:1518px;
    }
    to{
        width: 0px;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
        width: 25px;
    }
    to{
        opacity: 0;
        width: 0px;
    }
}