#burger-icon{
    margin-top:1em;
    margin-right: 2em;
    z-index: 200;
}

#burger-icon i{
    display: block;
    width: 40px;
    height:2px;
    margin: 6px;
    background-color: rgb(192, 192, 192);
    border-radius: 2px;
    transition: transform .6s cubic-bezier(0.23, 1, 0.32, 1);
}

/*  #burger-icon:hover > i:nth-child(1){
    transform: translateY(-4px);
}

#burger-icon:hover > i:nth-child(3){
    transform: translateY(4px);
} */

.top-bar-move{
    transform: translateY(-4px);
}

.bottom-bar-move{
    transform: translateY(4px);
}

#burger-icon.hover-burger i:nth-child(n){
    -moz-transition: -moz-transform .45s cubic-bezier(.43,.77,.15,1.5);
                -o-transition: -o-transform .45s cubic-bezier(.43,.77,.15,1.5);
                -webkit-transition: -webkit-transform .45s cubic-bezier(.43,.77,.15,1.5);
                transition: transform .45s cubic-bezier(.43,.77,.15,1.5);
}

#burger-icon.hover-burger i:nth-child(1){
    -moz-transform: translate3d(0,-4px,0);
    -ms-transform: translate3d(0,-4px,0);
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0)
}

#burger-icon.hover-burger i:nth-child(3){
    -moz-transform: translate3d(0,4px,0);
    -ms-transform: translate3d(0,4px,0);
    -webkit-transform: translate3d(0,4px,0);
    transform: translate3d(0,4px,0)
}

#burger-icon.rotate-in {
    animation: rotate-back-in .9s cubic-bezier(0.23, 1, 0.32, 1);
}

#burger-icon.rotate-in i:nth-child(1){
    transform: translate3d(0, 8px, 0);
}

#burger-icon.rotate-in i:nth-child(3){
    transform: translate3d(0, -8px, 0);
}

#burger-icon.x-out i:nth-child(2){
    opacity: 0;
}
#burger-icon.x-out i:nth-child(1){
    transform: translate3d(0,10px,0) rotate(-45deg) scale(1.5);

}

#burger-icon.x-out i:nth-child(3){
    transform: translate3d(0,10px,0) rotate(45deg) scale(1.5);
}

#burger-icon.x-out:hover i:nth-child(n){
    transition: transform .6s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgb(219, 0, 0);
}




#burger-icon.rotate-out {
    animation: rotate-back-out .9s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}




.collapse-burger{
    animation: rotate-360 .7s cubic-bezier(0.23, 1, 0.32, 1);
}

/* .rotate-in{
    animation: rotate-back-in .9s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.rotate-out{
    animation: rotate-back-out .9s cubic-bezier(0.23, 1, 0.32, 1) forwards;
} */

/* .rotate-line-left{
    animation: rotateXLeft .9s .9s ease forwards;
}

.rotate-line-right{
    animation: rotateXRight .9s .9s ease forwards;
} */

/* #burger-icon .rotate-burger i:nth-child(1){
    transition: transform 1s;
    transform: translateY(-4px) rotate(1080deg);
}

#burger-icon .rotate-burger i:nth-child(2){
    transition: transform 1s;
    transform:rotate(1080deg);
} */

@keyframes rotate-360 {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(720deg);
    }
}

@keyframes rotate-back-in {
    0% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    45% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes rotate-back-in {
    0% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    45% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }

    100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes rotate-back-out {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    45% {
        -moz-transform: rotate(185deg);
        -ms-transform: rotate(185deg);
        -webkit-transform: rotate(185deg);
        transform: rotate(185deg);
    }

    100% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes rotate-back-out {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    45% {
        -moz-transform: rotate(185deg);
        -ms-transform: rotate(185deg);
        -webkit-transform: rotate(185deg);
        transform: rotate(185deg);
    }

    100% {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}





