.CustomNav{
    display: flex;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    width: 100vw;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 2px rgb(62, 62, 253) solid;
}

.CustomNav a{
    color:#fff;
    display:block;
    text-decoration: none;
    padding: 10px;
    opacity: 0;

}


.CustomNavBtn{
    color:white;
    content:"";
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #fff solid;
    border-radius: 4px;
    margin-right: 9px;
}

.CustomAnchors{
    display: flex;
    justify-content: flex-start;
}

.NavMenu{
    width:100%;
    background-color: rgb(63, 63, 63);
    border-bottom: 2px rgb(240, 64, 181) solid;
    z-index:22;
    height: 0;
    overflow: hidden;
}

.noshow{
    display: none;
}
.collapsee{
    display: block;
    animation: showMenu 0.4s ease forwards; 
}
.hidee{
    display: block;
    animation: hideMenu 0.4s ease forwards; 
}






@media only screen and (min-width: 600px) {
    .CustomNavBtn{
        opacity: 1;
        pointer-events: auto;
    }
    .CustomAnchors a{
        opacity: 0;
        pointer-events: none;
    }

}

@media only screen and (min-width: 768px) {
    .CustomNavBtn{
        opacity: 0;
        pointer-events: none;

    }
    .CustomAnchors a{
        opacity: 0;
        pointer-events: none;
    }
    .NavMenu{
        opacity:1;
    }

}

@media only screen and (min-width: 769px) {

    .CustomAnchors a{
        opacity: 1;
        pointer-events: auto;
    }
    .NavMenu{
        opacity: 0;
    }

}
@keyframes showMenu{
    from{

        height: 0px;
    }
    to{

        height:95px;
    }

}
@keyframes hideMenu{
    from{

        height:95px;
    }
    to{

        height:0px;
    }

}
