.CustomNav{
    display: flex;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    width: 100vw;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 2px rgb(62, 62, 253) solid;
}

.CustomNav a{
    color:#fff;
    display:block;
    text-decoration: none;
    padding: 10px;
    opacity: 0;

}


.CustomNavBtn{
    color:white;
    content:"";
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px #fff solid;
    border-radius: 4px;
    margin-right: 9px;
}

.CustomAnchors{
    display: flex;
    justify-content: flex-start;
}


@media only screen and (min-width: 600px) {
    .CustomNavBtn{
        opacity: 1;
        pointer-events: auto;
    }
    .CustomAnchors a{
        opacity: 0;
        pointer-events: none;
    }

}

@media only screen and (min-width: 768px) {
    .CustomNavBtn{
        opacity: 0;
        pointer-events: none;

    }
    .CustomAnchors a{
        opacity: 0;
        pointer-events: none;
    }

}

@media only screen and (min-width: 769px) {

    .CustomAnchors a{
        opacity: 1;
        pointer-events: auto;
    }

}
